body {
  background-color: #1e141a;
  color: #eedee8;
  font-family: Helvetica, Arial, Verdana;
}

.lightText {
  color: #eedee8;
}

/*
gradient light #30262d
gradient dark #473a42
*/
header h1 {
  width: 265px;
  height: 65px;
  background: url(/img/yukebox.jpg) top left no-repeat;
}

header h1 span{
  display: none;
}

footer {
  font-size: smaller;
  text-align: center;
  text-color: #473a42;
  margin-top: 50px;
}

#player, #ytplayer{
  width: 425px;
  height: 356px;
  padding: 10px;
  border: #30262d 1px solid;
  text-align: center;
}

#getting_started{
  text-align: center;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}
li.result-video, li.queue-video {
  padding: 7px 0;
  padding-left: 21px;
  cursor: pointer;
  border-bottom: 1px #30262d solid;
}

li.result-video:hover {
  background: url(/img/plus.png) top left no-repeat;
}

li.queue-video:hover {
  background: url(/img/minus.png) top left no-repeat;
}